<ion-content class="ion-padding">
  <div class="login-container">
    <form [formGroup]="loginForm">
      <ion-label class="title">Login para Iniciar sesión</ion-label>
      <ion-item class="i-input">
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
      <ion-item class="i-input">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" [disabled]="!loginForm.valid" (click)="login()">Iniciar Sesion</ion-button>
    </form>
  </div>
</ion-content>
