ion-content {
    --background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  ion-content ion-item {
    --background: transparent;
  }
  
  .login-container {
    width: 80%; 
    max-width: 600px;
    padding: 40px; 
    margin: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    border: 1px solid #ccc;
  }
  
  .title {
    font-weight: bold;
    font-size: 1.5em; /* Ajusta el tamaño del título */
    margin-bottom: 25px;
    padding: 50px;
  }
  
  .i-input {
    margin-bottom: 15px;
  }
  
  ion-item {
    --padding-start: 10px; /* Ajusta el relleno izquierdo */
    --padding-end: 10px; /* Ajusta el relleno derecho */
    --inner-padding-top: 15px; /* Ajusta el relleno superior */
    --inner-padding-bottom: 15px; /* Ajusta el relleno inferior */
  }
  
  ion-label {
    font-size: 1.1em; /* Ajusta el tamaño del texto de las etiquetas */
  }
  
  ion-input {
    font-size: 1.1em; /* Ajusta el tamaño del texto de entrada */
  }
  
  ion-button {
    margin-top: 20px;
    font-size: 1.2em; /* Ajusta el tamaño del texto del botón */
    background: white;
    color: black;
  }